* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.top-line-header {
    background-color: #151517;
    padding: 10px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

.social ul {
    column-gap: 7px;
}

.social a,
.adres-black,
.phone-black {
    position: relative;
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 15px;
    background-color: #f5ed08;
}

a.fb::before,
a.tw:before,
a.skype:before,
span.adres-black:before,
span.phone-black:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.fb:before {
    background: url(../img/fb-black.svg) no-repeat;
    width: 10px;
    height: 16px;

}

a.tw:before {
    width: 17px;
    height: 14px;
    background: url(../img/tw-black.svg) no-repeat;
}

a.skype:before {
    width: 16px;
    height: 16px;
    background: url(../img/skype-black.svg) no-repeat;
}

.adress {
    column-gap: 13px;
}

.adress a {
    column-gap: 8px;
    font-size: 14px;
    color: #f1f1f3;
    font-weight: 400;
    font-family: "Roboto";
}

span.adres-black::before {
    width: 12px;
    height: 17px;
    background: url(../img/adress-black.svg) no-repeat;
}

span.phone-black::before {
    width: 13px;
    height: 14px;
    background: url(../img/phone-black.svg) no-repeat;
}

.top-line-logo {
    padding: 30px 0;
}

.logo a {
    font-size: 30px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.header-nav ul {
    column-gap: 30px;
}

.header-nav a {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: right;
    transition: all .5s ease;
}

.header-nav a:hover {
    color: #f5ed08;
}

.main-block {
    padding: 101px 0 108px;
    background: url(../img/main.png) no-repeat center/cover;
}

.main-block h1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.main-block p:nth-child(2) {
    padding: 45px 0;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.btn {
    margin: 0 auto;
    max-width: 221px;
    display: block;
    padding: 23px 37px;
    font-size: 18px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    text-align: center;
    font-family: "Roboto";
    border-radius: 5px;
    background-color: #f5ed08;
    transition: all .5s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.about-us {
    padding: 60px 0;
}

.about-us figure {
    position: relative;
}

.about-us a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-us a:hover~div {
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #f5ed08;
}

.about-us div {
    max-width: 270px;
    height: 260px;
    padding: 34px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    transition: all .5s ease;
}

.about-us picture {
    width: 70px;
    height: 74px;
}

.about-us img {
    width: 100%;
    height: 100%;
}

.about-us h2 {
    padding: 20px 0 16px;
    font-size: 18px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.about-us p {
    font-size: 14px;
    line-height: 21px;
    color: #878787;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.about-company,
.reviews {
    padding: 54px 0 56px;
    background-color: #f1f1f3;
}

.about-company h2,
.popular-eat h2,
.reviews h2 {
    padding-bottom: 28px;
    font-size: 36px;
    line-height: 46px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.about-company p,
.menu p {
    width: 970px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.about-company p {
    color: #878787;

}

.menu {
    padding: 71px 0 61px;
    background: url(../img/bg2.png) no-repeat center/cover;
}

.menu p {
    padding-bottom: 31px;
    color: #fff;
}

.popular-eat {
    padding: 52px 0 61px;
}

.popular-eat>p:last-child {
    text-align: center;
}

.food-btn {
    width: 60%;
    margin: 0 auto;
}

.food-cta {
    font-size: 14px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    display: inline-block;
    padding: 12px 0;
    width: 150px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #f5ed08;
    transition: all .5s ease;
}

.food-cta:hover {
    transform: scale(1.05);
    background-color: #f5ed08;
}

.food-img-block {
    padding: 35px 0;
}

.food-img-block p {
    width: 20%;
    height: 275px;
}

.food-img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review {
    position: relative;
    margin: 0 auto;
    max-width: 770px;
    padding: 32px 30px;
    background-color: #fff;
    font-size: 15px;
    line-height: 24px;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.review::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

.reviews-img-container {
    padding: 25px 0 0;
}

.img-review {
    width: 205px;
    margin: 0 auto;
}

.img-review p {
    width: 65px;
    height: 65px;
    border-radius: 35px;
    background-color: #f1f1f3;
    overflow: hidden;
}

.img-review img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews-img-container>p:nth-child(2) {
    padding: 13px;
    font-size: 14px;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.reviews-img-container>p:nth-child(3) {
    padding: 9px;
    font-size: 13px;
    line-height: 24px;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.mini-btn {
    padding-top: 26px;
    text-align: center;
}

.mini-btn a {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #878787;
    transition: all .5s ease;
}

.mini-btn a:hover {
    background-color: #f5ed08;
}

.map_container {
    position: relative;
    min-height: 415px;
    background: url(../img/photo_2024-09-28_15-33-14.jpg) no-repeat center/cover;
}

.social_container-bottom {
    top: 30%;
    left: 42%;
    padding: 31px 43px;
    position: absolute;
    min-width: 300px;
    height: 170px;
    border-radius: 8px;
    background-color: #151517;
    transform: translate(-50% -50%);
    box-sizing: border-box;
}

.social_container-bottom p {
    justify-content: flex-start;
    column-gap: 19px;
    padding-bottom: 16px;
}

.social_container-bottom a {
    font-size: 14px;
    color: #f5ed08;
    font-weight: 400;
    font-family: "Roboto";
}

.bottom-line {
    padding: 50px 0 60px;
    background-color: #000;
}

.bottom-logo p:first-child {
    padding-bottom: 33px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.bottom-logo p:last-child {
    font-size: 13px;
    line-height: 24px;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
}

.bottom-title {
    padding-bottom: 33px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f1f1f3;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.footer-nav a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto";
    padding-bottom: 18px;
    transition: all .5s ease;
}

.footer-nav a:hover {
    color: #f5ed08;
}

.social_container_bottom p {
    justify-content: flex-start;
    column-gap: 19px;
    padding-bottom: 16px;
}

.social_container_bottom a {
    color: #fff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
}

.bottom-social-btn .social ul {
    justify-content: flex-start;
}